<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Обо мне</title>

        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
    <img src="IMG_1.jpg" alt="Всё сбудится!">
     <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>Обо мне</h1>
                <p>Всем привет!Меня зовут Катя и я всегда добиваюсь своих целей</p>
            </div>
        </div>
  <div class="content">
  </div>
    </body>
</html>